/* components/ThreeColumnText.module.css */
.container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: var(--background);
  }
  .wrapper {
    margin: 0 auto;
    max-width: 1000px;
  }
 
  
  .row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .column {
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .column svg {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    opacity: 1;
  }
  
  .column:hover {
    transform: translateY(-5px);
  }
  
  .column p {
    font-size: 16px;
    color: var(--foreground);
    line-height: 1.6;
    text-align: start;
    margin-left: 5px;
    font-weight: 600;
  }
  
  @media screen and (orientation: portrait) and (max-width: 750px) {
    .row {
      flex-direction: column;
    }
  }
  