.container {
    display: flex;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    max-height: calc(100% - 40px);
    max-width: 1200px;
    margin: 0px auto;
    gap: 20px;
    padding: 20px;
    background: var(--card-background);
    color: var(--text-color);
    border-radius: 10px;
    position: relative;
    flex: 1;
  }
 
  .emailList {
    flex: 1;
    overflow-y: auto;
  }
  
  .emailListIndicator {
    width: calc(100% - 20px);
    text-align: center;
  }
  
  .skeleton-loader {
    width: 100%;
    min-height: 60px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
    animation: skeleton 2.5s ease-in-out infinite;
    flex-shrink: 0;
  }
  
  .error {
    color: var(--foreground);
    width: calc(100% - 10px);
    text-align: center;
    margin: 5px 0px;
  }

  @keyframes skeleton {
    0% {
      background-color: var(--card-background);
    }
    50% {
      background-color: var(--foreground);
    }
    100% {
      background-color: var(--card-background);
    }
  }
  

  @media screen and (max-width: 700px) {
    .container {
      height: calc(100vh - 100px);
    }
  } 