
input {
    height: 35px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    border: 3px solid white;
    padding: 5px;
    width: calc(100% - 6px - 10px);
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.05s;
    font-family: "Inter", sans-serif;
}

input:focus {
    border: 3px solid rgb(93, 93, 93);
}

.input-error {
    font-size: 0.8rem;
    color: red;
    margin: 0px 0px 2px 0px;
}

