.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.projectsWrapper {
  max-width: 1000px;
  width: calc(100% - 20px);
  margin: 40px auto 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}