body {
  scroll-behavior: smooth;
  
}
.App {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.page {
  height: 100vh;
  width: calc(100% - 40px);
  max-width: 1600px;
  padding: 0px 20px;
}
