
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100%);
    padding: 10px;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
}